:root {
    --bg-primary: #030712;
    --bg-secondary: #0f172a;
    --foreground: #d1d5db;
    --ancent: #dc2626;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--foreground);
    font-weight: 400;
    min-height: 100vh;
}

.hide {
    display: none !important;
}

.container {
    position: relative;
}

.main-content {
    height: 100vh;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .popup {
    padding: 1.2rem;
    background-color: var(--bg-secondary);
    border-radius: .3rem;
}

#start-game-popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#start-game-popup input {
    border: none;
    width: 15rem;
    display: block;
    border-radius: .2rem;
    padding: .5rem 1rem .5rem 1rem;
}

#start-game-popup input:focus {
    border: none;
    outline: none;
}

#start-game-popup button {
    margin: auto;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--ancent);
    border: none;
    color: var(--foreground);
    font-weight: bold;
    border-radius: .2rem;
}

#start-game-popup .instruction {
    width: 100%;
}

#start-game-popup .instruction h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


#score-board {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    font-weight: bold;
}

#countdown {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown h2 {
    font-size: 3rem;
    font-weight: 900;
}